{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META http-equiv=Content-Type content="text/html; charset=gb2312">
    <title>列表显示</title>
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-theme.css" %}">
</head>
<body>
<div class="container">
<table class="table-bordered table">
    <thead>
        <tr>
            {% for item in head %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            {% for data in item %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>


</div>
</body>
</html>