{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META http-equiv=Content-Type content="text/html; charset=gb2312">
    <title>列表显示</title>
    <link rel="stylesheet" href="{% static "stark/bootstrap.min.css" %}">
</head>
<body>
<div class="container">
<h1 class="text-center">列表页面</h1>
{% if show_add_btn %}
    <a href="{{ add_url }}" class="btn btn-primary">添加</a>
{% endif %}
<table class="table table-bordered">
    <thead>
        <tr>
            {% for item in head_list %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for data in datalist %}
        <tr>
        {% for obj in  data %}
            <td>{{ obj }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="text-center">
    <nav aria-label="...">
      <ul class="pagination">
          {{ page_html }}
      </ul>
    </nav>
</div>
</div>
</body>
</html>