<form action="" method="post" class="form-horizontal" novalidate>
        {% csrf_token %}
        {% for dic in form %}
            <div class="col-md-12">
              <div class="form-group" style="margin-bottom: 20px">
                <label for="inputEmail3" class="col-sm-2 control-label">{{ dic.item.label }}</label>
                <div class="col-sm-8" style="position: relative">
                    {{ dic.item }}
                    {% if dic.is_popup %}
                        <a onclick="popUp('{{ dic.popup_url }}')"><span style="font-size: 20px;">+</span></a>
                    {% endif %}
                <div style="background-color: indianred;color:white;position:absolute">{{ dic.item.errors.0 }}</div>
                </div>
              </div>
            </div>
        {% endfor %}
        <div class="col-sm-offset-9">
            <button class="btn btn-primary">提交</button>
        </div>
</form>
<script>
    function popupCallback(dic) {
        if(dic.status){
            var op = document.createElement("option");
            op.value=dic.id;
            op.text=dic.text;
            op.setAttribute("selected",'selected');
            document.getElementById(dic.popbackid).appendChild(op);
        }
    }
    
    function popUp(url) {
        var popupPage = window.open(url, url, "status=1, height:500, width:600, toolbar=0, resizeable=0");
    }
</script>