<html lang="en">
<head>
    <meta charset="UTF-8">
    <META http-equiv=Content-Type content="text/html; charset=gb2312">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap3/css/bootstrap-theme.css">
</head>
<body>
<script src="../static/jquery-3.2.1.min.js"></script>
<script src="../static/bootstrap3/js/bootstrap.min.js"></script>
<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <td>用户</td>
            <td>密码</td>
            <td>年龄</td>
            <td>性别</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>egon</td>
            <td>egon123</td>
            <td>23</td>
            <td>男</td>
        </tr>
    </tbody>
</table>


</div>


</body>
</html>